.subcat-filters{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
}
.subcat-filters__wrap{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 20px;
}
@media (max-width: 1200px){
  .subcat-filters__wrap{
    width: 100%;
  }
}
@media (max-width: 800px){
  .subcat-filters__wrap{
    display: block;
    text-align: center;
  }
  .subcat-filters__item{
    margin: 10px 20px;
  }
}
.subcat-filters__item{
  border: 1px solid blue;
  width: 250px;
  height: 50px;
}
.subcat-filters__item_mark{

}
.subcat-filters__button-wrap{
  padding: 0 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.subcat-filters__button{
  background-color: yellow;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  width: 250px;
}

.subcat-filters__button:disabled {
  background-color: greenyellow;
}

.subcat-prodlist{
  display: none;
  margin: auto;
  margin-bottom: 50px;
}

.subcat-prod-wrap{
  margin-top: 15px;
}