{strip}
<link rel="stylesheet" property="stylesheet" href="/wa-data/public/shop/themes/prostore/style.shop.min.css?v1.6.0.1.79">

<div class="subcat-filters">
    <div class="subcat-filters__wrap">
        <select class="subcat-filters__item subcat-filters__item_mark" name="filter-mark" id="filter-mark" >
            <option value="0">Выберите марку...</option>
        </select>
        <select class="subcat-filters__item subcat-filters__item_model" name="filter-model" id="filter-model" disabled>
            <option value="0">Выберите модель авто...</option>
        </select>
        <select class="subcat-filters__item subcat-filters__item_series" name="filter-series" id="filter-series" disabled>
            <option value="0">Выберите серию...</option>
        </select>
    </div>
    <div class="subcat-filters__button-wrap">
        <button type="button" class="subcat-filters__button">Подобрать магнитолу</button>
    </div>
</div>
<div id="prodlist" class="subcat-prodlist"></div>
{/strip}